<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:jbpm.org:jpdl-3.1"
            class="jpdl31.Jpdl31Package"
            genModel="model/jpdl31.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="jpdl31"
            class="jpdl31.util.Jpdl31ResourceFactoryImpl"/>
   </extension>

</plugin>
